@model ResourceBox.Models.ViewModel
@{
    ViewBag.Title = "UserProfile";
}
@Styles.Render("~/Content/css/user-info")

<section id="team">
    <div class="container my-3 py-5 text-center">
        @foreach (var user in Model.Users)
        {
            <div class="row mb-2">
                <div class="col">
                    @if (Convert.ToInt32(Session["userId"]) == user.userId)
                    {
                        <h1 class="profileHeader">My Profile</h1>
                    }
                    else
                    {
                        <h1 class="profileHeader">@user.userName's Profile</h1>
                    }
                </div>

            </div>
            <div class="row">
                <div class="col-lg-3 col-md-2 mt-30"></div>


                <div class="col-lg-6 col-md-6 mt-30">
                    <div class="card">
                        <div class="card-body">
                            <img src="@Url.Content(user.image)" alt="" class="img-fluid rounded-circle mb-3" style="width:auto;height:auto;">
                            <h3 class="font-italic font-weight-bold">@user.userName</h3>
                            <h4 class="mt-3">Ahsanullah University Of Science and Technology</h4>
                            <h5 class="mt-4">Email: <a class="h5 email" style="text-decoration:none;" href="">@user.email</a>
                            <h6 class="mt-2">Semester 3.2</h6>

                        <p>Hey there I am using ResourceBox.</p>
                        <div class="d-flex flex-row justify-content-center">
                            <div class="p-4">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>

                            </div>
                            <div class="p-4">
                                <a href="#">
                                    <i class="fab fa-twitter">

                                    </i>
                                </a>
                            </div>

                            <div class="p-4">
                                <a href="#">
                                    <i class="fab fa-instagram">

                                    </i>
                                </a>
                            </div>
                        </div>
                        @if (Convert.ToInt32(Session["userId"]) == user.userId)
                        {
                            <div class="d-flex flex-row justify-content-center">
                                <a class="btn btn-danger mr-3" href="@Url.Action("PostStatus", "User")">Post Status</a>
                                <a class="btn btn-danger ml-3" href="@Url.Action("PostBook", "User")">Post A Book</a>
                            </div>
                        }
                        else
                        {
                            <div class="d-flex flex-row justify-content-center">
                                <a class="btn btn-danger ml-3" href="@Url.Action("PostBook", "User")">Send Message</a>
                            </div>
                        }
                        </div>
                    </div>
                </div>
               

            </div>
        }

        </div>
    </section>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
@if(ViewBag.LoginSuccess== "true")
{
    <script>
        const Toast = Swal.mixin({
            toast: true,
            position: 'bottom-start',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: false,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })

        Toast.fire({
            icon: 'success',
            title: 'Signed in successfully'
        })
    </script>
}